@import "../../../css/defaultColor";

.half {
  max-width: 47%;
  width: 100%;
  display: inline-block;
}

.marginRight {
  margin-right: 6%;
}

.grey {
  input {
    color: $grey;
    border-bottom: 1px solid $grey;
  }

  label {
    color: $grey;
  }
}