@import "../../../css/defaultColor";

.labelInput {
  position: relative;
  margin-top: 25px;

  &:first-child {
    margin-top: 0;
  }

  label {
    position: absolute;
    top: 3px;
    left: 10px;
    color: $whiteLight;
    pointer-events: none;
    transition: .3s;

    &.inputFocus  {
      font-size: 12px;
      top: -15px !important;
    }
  }

  input {
    border: none;
    border-bottom: 1px solid $whiteLight;
    outline: none;
    padding: 5px 10px;
    width: 100%;
    background: none;
    color: $whiteLight;
  }

  &.grey {
    input {
      color: $grey;
      border-bottom: 1px solid $grey;
    }

    label {
      color: $grey;
    }
  }

  &.half {
    max-width: 47%;
    width: 100%;
    display: inline-block;
  }
}