.profileBannerSmall{
  position: relative;
  line-height: 0;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid rgba(198, 165, 107, 0.3);
  }

  img {
    width: 100%;
  }
}

.profileImage {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.profileAvatar {
  position: absolute;
  top: 100%;
  transform: translateY(-40px);
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.profileDesc {
  padding: 30px;
  text-align: center;

  a {
    font-weight: 700;
    margin-bottom: 10px;
    display: inline-block;
  }
}